/* You can add global styles to this file, and also import other style files */
body {
  padding-top: 70px;
}
.margintopbottom {
  margin-top: 10px;
}
.margintopleft {
  margin-top: 10px;
  margin-left: 7px;
}
.editbuttons {
  margin-top: 10px;
  padding-left: 5px;
}
